* {
    box-sizing: border-box;
  }

.table-con{
    border: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 95%;
    color: darkblue;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.table-con tr{
    border-bottom: 1px solid #ddd;
}

.table-con td{
    padding: 10px;
    text-align: center;
    border-left: 1px solid #ddd;
}

.table-con tr:hover{
    background-color: #f2f2f2;
}

.table-con th{
    background-color: lavender;
    padding: 10px;
    text-align: center;
    border-left: 1px solid #ddd;
}

h4{
    color: darkblue;
    margin: 20px;
}

.btn1, .btn2{
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid darkblue;
    font-weight: bold;
    width: 110px;
    margin: 0 5px;
}

.btn1{
    background-color: darkblue;
    color: white;
}

.btn1:hover{
    background-color: #080e47;
    border-color: #080e47;
}

.btn2{
    color: darkblue;
}

.btn2:hover{
    border-color: #080e47;
    color: #080e47;
    background-color: rgb(187, 199, 216);
}

.buttons{
    display: flex;
    justify-content:center;
    align-items: center;
}

  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    z-index: 9;
  }
  

  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: lavender;
    box-shadow: #080e47;
    color: #080e47;
  }
  

  .form-container input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: white;
    border-radius: 10px;
  }
  

  .form-container input[type=text]:focus {
    background-color: #dddddd;
    outline: none;
  }

  .form-container select{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: white;
    border-radius: 10px;
  }
  

  .alert {
    margin: 20px;
    padding: 20px;
    background-color:#080e47;
    max-width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius:50px;
    color: white;
  }
  .error {
    margin: 20px;
    padding: 20px;
    background-color: #f44336;
    max-width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius:50px;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }



  .msg_container {
    display: none;
    position: fixed;
    width: 470px;
    right: 0;
    bottom: 0;
    background: lavender;
    padding: 15px;
    border-radius: 2px;   
    color: #000;
    box-shadow: -2px -5px 20px 0px #00000040;


}

.msg_container h4{
    margin: 0;

}

