.heading{
    padding-top: 90px;
}
.date{
    display: inline;
    color:#101D6B;
    font-weight: bold;  
}
#avalability-table .thead-edit th {
    color: #101D6B;
    background: lavender;
    border-bottom: none;
}

#avalability-table .table {
    border-radius: 10px;
}

th,
td {
    text-align: center;
    vertical-align: middle;
}

th:first-child,
td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

th:last-child,
td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.custom-btn {
    color: #101D6B;
    background-color: transparent;
    border: 2px solid #101D6B;
}

.custom-btn:hover {
    background-color: #101D6B;
    color: #fff;
}
.custom-btn-submit{
    width:70px;
    color:#fff;
    height: 35px;
    border:none;
    background: #101D6B;
}
.custom-btn-submit:hover{
    color:#101D6B;
    background: white;
    border: 1px solid #101D6B;
}
footer {
    margin-top: -1px;
    padding-bottom: 0;
}

@media only screen and (max-width: 800px) {
    #avalability-table thead {
        display: none;
    }

    #avalability-table tbody,
    #avalability-table tr,
    #avalability-table td {
        display: block;
    }

    #avalability-table tbody td {
        position: relative;
        padding-left: 50%;
    }

    #avalability-table tbody td::before {
        content: attr(data-title);
        position: absolute;
        top: 0;
        left: 6px;
        font-weight: bold;
        color: #101D6B;
    }
    .date{
        display: block;
    }
}

