.custom-slider{
    height:540px;
}
.custom-slider img{
    height:540px;
    object-fit: cover;
}
.darken-image {
    filter: brightness(45%);
}
footer {
    margin-top: -1px; 
    padding-bottom: 0; 
  }
  img {	
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
  .zoomUp {
	transition: transform .2s;	
  }
  
  .zoomUp:hover {
	-ms-transform: scale(1.5); 
	-webkit-transform: scale(1.5);
	transform: scale(1.5); 
  }
