.Submit-Btn{
	width: 100%;
	height: 42px;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 17px;
	letter-spacing: 1px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bolder;
	transition: 0.4s;
	background-color: darkblue;
	color: #fff;
}
.Submit-Btn:hover{
	background-color: #0a99c5;
	color: #fff;
	
}
table th {
	background-color:lightgrey;
  }

table tr {
	background-color: white;
  }
 
table tr:hover {
	background-color:  lavender;
  }

table tr:active {
	background-color: darkblue;
  }
