.Submit-Btn{
	width: 50%;
	height: 42px;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 17px;
	letter-spacing: 1px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bolder;
	transition: 0.4s;
	background-color: darkblue;
	color: #fff;
}
.Submit-Btn:hover{
	background-color: #19a7cd;
	color: #fff;
	
}
.error-input{
	border: 1px solid #ff5b5b;
}
.error-message{
	font-size: 11px; 
	font-weight: bold; 
	color: #ff5b5b;
	text-align: left; 
	margin: 0px; 
	padding: 0px; 
	margin-top: 2px; 
}

table th {
	background-color:lightgrey;
  }

table tr {
	background-color: white;
  }
 
table tr:hover {
	background-color:  lavender;
  }

table tr:active {
	background-color: darkblue;
  }
  

