* {
  box-sizing: border-box;
}

  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=file]{
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    resize: vertical;
  }

  input[type=submit]{
    margin: auto;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  .containerx {
    border-radius: 5px;
    background-color: lavender;
    padding: 30px;
    margin: 20px;
    margin-top: 40px;
    color: darkblue;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .col-50{
    width: 50%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .col-25, .col-75, .col-50, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }