body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
  text-align: center;
}

#head{
  height: 90px;
  display: flex;
  background-color: beige;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#logo{
  height: 10vmin
}

table{
  width: 100%;
}

input, select{
  width: 60%;
  height: 25px;
}

@media(min-width: 820px){
  table{
    width: 100%;
  }
  
  input, select, textarea{
    width: 42%;
    /*height: 20px;*/
  }

  textarea{
    height: 200px;
  }
}
/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/