body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
  text-align: center;
}

#head{
  height: 90px;
  display: flex;
  background-color: beige;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#logo{
  height: 10vmin
}

table{
  width: 100%;
}

input, select{
  width: 60%;
  height: 25px;
}

@media(min-width: 820px){
  table{
    width: 100%;
  }
  
  input, select, textarea{
    width: 42%;
    /*height: 20px;*/
  }

  textarea{
    height: 200px;
  }
}